@font-face {
    font-family: 'hs-font';
    src: url('../../../assets/LHF\ Uncial\ Caps.ttf');
}

@mixin search-style{
    background: #2f3640;
    color: #dac9a1;
    border: 3px solid #cc8100;
}
@mixin center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-search-container{
    font-family: 'hs-font';
    @include center-flex()
}

.card-search-container-disabled{
    @include center-flex();
    pointer-events: none;
    opacity: 0.6;
}

.card-search-list-container {
    position: relative;
    width: max(70%, 300px);
    
}

.card-search{
    @include search-style();
    min-width: 100%;
    padding: 5px;
    height: 20px;
    outline: none;
    border-radius: 5px;
    height: 57px;
    text-align: justify;
    letter-spacing: 3px;
    font-size: large;
    font-family: 'hs-font';
}


.search-card {
    @include search-style();
    margin-top: 8px;
    padding: 8px;
    border: 3px solid #cc8100;
    border-radius: 5px;
    background-color: #2f3640;
    color: #dac9a1;
    font-size: 16px;
}

.scroll {
    @include search-style();
    overflow-y: scroll;
    height: 30vh;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
}
