@import url("https: //fonts.googleapis.com/css2?family=Aboreto&display=swap");

$bg-image: url("../assets/1920x1080-hearthstone-background-1920-x-1080-2cx6b3fx3zpz876m.webp");

@mixin darkened-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $bg-image;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    @include darkened-background;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    font-family: "Aboreto";
    width: 100%;
    padding: 20px 0px;
}

.spinner-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.spinner {
    /* change color here */
    color: #cc8100
}

.spinner,
.spinner div {
    box-sizing: border-box;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    display: grid;
    place-items: center;
}

.spinner div {
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes spinner {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}