.cards-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.card {
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    min-height: 100px;
}