$primary-color: #2f3640;
$secondary-color: #cd8e37;
$text-color: #f1faee;

.instruction {
    margin: 40px auto;
    padding: 20px;
    background-color: $primary-color;
    background-color: rgba($primary-color, 0.5);
    border-radius: 10px;
    color: $text-color;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    h1 {
        text-align: center;
        font-size: 3.5rem;
        color: $secondary-color;
        margin-bottom: 20px;
    }

    h3 {
        color: $secondary-color;
        margin-top: 20px;
    }

    ul {
        list-style: disc;
        margin-left: 40px;

        li {
            margin-bottom: 10px;
            font-size: 1.2rem;
        }

        ul {
            list-style: circle;
            margin-left: 20px;
        }
    }

    p {
        margin-top: 10px;
        font-size: 1.2rem;
        color: $text-color;
    }
}