$instruction-min-margin: 10px;
$instruction-max-margin: 10%;

.instruction {
    display: grid;
}

.instruction *:not(li) {
    margin-left: max(#{$instruction-max-margin}, $instruction-min-margin);
    margin-right: max(#{$instruction-max-margin}, $instruction-min-margin);
}