.image-button {
    background-image: url("");
    background-size: cover;
    border: none;
    //! Nie chce mi znalezc "/src/assets/fantasy_game_button_maker.png", ani "../assets/fantasy_game_button_maker.png"
}