@mixin search-style{
    background: #2f3640;
    color: #dac9a1;
    border: 3px solid #cc8100;
}

.card-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-search{
    @include search-style();
    max-width: 200px;
    border-right: none;
    padding: 5px;
    height: 20px;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.search-button{
    @include search-style();
    height: 36px;
    min-width: 50px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}